.heading {
    font-style: 'Poppins,sans-serif';
    font-weight: 600;
    font-size: 48px;
    scroll-behavior: smooth;
    color: white;
}

.heading .Name {
    scroll-behavior: smooth;
    font-size: 72px;
    background: -webkit-linear-gradient(45deg, #e4f4f4, #209490, #40ffaa, #01fff7, #2bffed);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent !important;

}

.introDesc {
    scroll-behavior: smooth;
    font-style: 'Poppins,sans-serif';
    font-size: 16px;
    line-height: 30px;
    color: white;
    max-width: 450px;
}

.resumeBTN {
    background: linear-gradient(15deg, #54f5f0, #e4f4f4);
    border-radius: 5px;
    border: none;
    font-style: 'Poppins,sans-serif';
    font-weight: 600 !important;
    /* font-size: 48px; */
    color: rgb(0, 0, 0);
}

.ProfileImage {
    height: 95%;
    width: 95%;
}

.creative_type {
    background: #67e8f9;
    width: fit-content;
    font-size: 35px;
}

@media (max-width: 480px) {

    /* Styles for mobile phones */
    .heading {
        font-style: 'Poppins,sans-serif';
        font-weight: 600;
        font-size: 28px !important;
        scroll-behavior: smooth;
        color: white;
    }

    .heading .Name {
        scroll-behavior: smooth;
        font-size: 35px !important;
        background: -webkit-linear-gradient(45deg, #e4f4f4, #209490, #40ffaa, #01fff7, #2bffed);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent !important;

    }

    .creative_type {
        background: #67e8f9;
        width: fit-content;
        font-size: 25px;
    }
}