/*
	jsrepo 1.35.1
	Installed from https://reactbits.dev/default/
	13-2-2025
*/

.goo-filter-container {
  position: absolute;
  overflow: hidden;
  z-index: 1;
}

.pixel-canvas {
  position: absolute;
  z-index: 1;
}
